config.py
employees.txt
areas.txt
time.txt
/.idea/.gitignore
/.idea/vcs.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/dashboard.iml
/.idea/encodings.xml
/.idea/inspectionProfiles/profiles_settings.xml
/templates/data.json
/data/data.json
/templates/index2.html
/templates/index3.html
/templates/index_test.html
/templates/index_base.html
/templates/index_js.html