<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" />
  <link rel="stylesheet" href="./static/css/style.css" />
  <title>Subnet Информатор</title>
  <link rel="shortcut icon" href="./static/favicon.ico">
</head>
<body>
  <div class="container">
    <div class="main">
      <div class="main_container">
        <div class="header">
          <img src="./static/img/spy.png" alt="" />
          <h2>ИНФОРМАТОР</h2>
        </div>
        <div class="info">
          Мастер не может выполнять одновременно больше одной заявки!
        </div>
        <div id="employeesContainer"></div>
      </div>
    </div>
    <div class="footer">
      <a href="https://github.com/rt-fan">rt_fan</a>&nbsp;© <span id="datetime_request"></span>
    </div>
  </div>

  <script>
    async function fetchData() {
      const response = await fetch("../data/data.json");
      const data = await response.json();
      updateContent(data);
    }

    function updateContent(data) {
      document.getElementById("datetime_request").textContent = data.datetime;

      const container = document.getElementById("employeesContainer");
      container.innerHTML = ""; // Очистить контейнер перед обновлением

      for (const masterId in data.employees) {
        const master = data.employees[masterId];
        const employeeDiv = document.createElement("div");
        employeeDiv.classList.add("main_block");

        employeeDiv.innerHTML = `
          <div class="block_title">
            <div class="title_left">
              <div class="title_left_name">${master.name}</div>
              <div class="title_left_state_${
                getStateClass(master.timesheet.work_state)
              }">${getStateText(master.timesheet.work_state)}</div>
            </div>
            <div class="title_centr">
              <div class="count_workday">
                <div class="count_workday_description">РАБ</div>
                <div class="count_workday_number">${master.timesheet.work_days}</div>
              </div>
              <div class="count_weekend">
                <div class="count_weekend_description">ВЫХ</div>
                <div class="count_weekend_number">${master.timesheet.weekend_days}</div>
              </div>
              <div class="count_assigned">
                <div class="count_assigned_description">НАЗ</div>
                <a href="${master.page_url_open}" target="_blank">
                  <div class="count_assigned_number">${master.open_requests}</div>
                </a>
              </div>
              <div class="count_in_progress">
                <div class="count_in_progress_description">ИСП</div>
                <a href="${master.page_url_in_progress}" target="_blank">
                  <div class="count_in_progress_number">${master.in_progress_requests}</div>
                </a>
              </div>
              <div class="count_completed">
                <div class="count_completed_description">ЗАК</div>
                <a href="${master.page_url_close}" target="_blank">
                  <div class="count_completed_number">${master.closed_requests}</div>
                </a>
              </div>
              <div class="count_all_in_mount">
                <div class="count_all_in_mount_description">MEC</div>
                <a href="${master.page_url_close_month}" target="_blank">
                  <div class="count_all_in_mount_number">${master.closed_month_requests}</div>
                </a>
              </div>
            </div>
            <div class="title_right">
              <div class="title_right_description">Последняя заявка:</div>
              <div class="title_right_datetime">
                ${master.last_closed_request_time || "Больше 3 дней"}
              </div>
            </div>
          </div>`;

        container.appendChild(employeeDiv);
      }
    }

    function getStateClass(state) {
      switch(state) {
        case -1: return "notwork";
        case 994: return "work";
        case 995: return "weekend";
        case 996: return "weekend";
        case 997: return "weekend";
        case 998: return "weekend";
        case 999: return "weekend";
        default: return "work";
      }
    }

    function getStateText(state) {
      switch(state) {
        case -1: return "не записан";
        case 994: return "дежурство";
        case 995: return "не вышел";
        case 996: return "отпуск";
        case 997: return "выходной";
        case 998: return "больничный";
        case 999: return "командировка";
        default: return "на работе";
      }
    }

    // Начальная загрузка данных
    fetchData();
    // Обновление данных каждые 5 секунд
    setInterval(fetchData, 5000);
  </script>
</body>
</html>
