<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <meta charset="utf-8" http-equiv="Refresh" content="30" /> -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"
    />
    <link rel="stylesheet" href="./static/css/style.css" />
    <title>Subnet Информатор</title>
    <link rel="shortcut icon" href="../templates/static/img/favicon.ico" />
    <!-- <script src="./static/js/app.js" defer></script> -->
    <style>
      .employee-container {
        margin: 20px;
      }
      .employee {
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
      }
      .employee2 {
        border: 1px solid #ff0000;
        padding: 10px;
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    ...
  </body>
</html>
